<section class="u-pt-md-150 pb-0 u-h-100vh bg-grey">
         <div class="container">
            <div class="row text-center">
               <div class="col-lg-10 mx-auto u-pt-80">
                  <%=image_tag("software/egem1.png", alt: "", :size => "275")%>
                  <p class="u-fs-22 text-purple u-lh-1_8 py-4">
                     Built upon the reliable go-ethereum protocol for a rock solid base trusted by thousands of people all around the world!
                  </p>
                  
               </div>
               <div class="col-lg-12 mx-auto mt-5">
                <div class="box">
                 <%=image_tag("software/console.jpg", alt: "")%>

                </div>
              </div>
            </div>
         </div>
      </section>
      <section id="about">
         <div class="container">
            <div class="row text-center">
               <div class="col-12">
                  <h2 class="h1">
                     What is EGEM
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
               <div class="col-md-4 u-mt-30">
                  <div class="bg-white px-4 px-md-5 py-5 u-h-100p rounded box-shadow-v2">
                     <div class="u-w-90 u-h-90 u-flex-center bg-green text-white rounded-circle m-auto">
                        <span class="icon icon-Bulb u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 my-4">
                        Fast & Light
                     </h4>
                     <p>
                        EGEM is built with Go, Golang is an open source programming language that makes it easy to build simple, reliable, and efficient software.
                     </p>
                  </div>
               </div>
               <div class="col-md-4 u-mt-30">
                  <div class="bg-white px-4 px-md-5 py-5 u-h-100p rounded box-shadow-v2">
                     <div class="u-w-90 u-h-90 u-flex-center bg-black text-white rounded-circle m-auto">
                        <span class="icon icon-Starship2 u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 my-4">
                        Stable & Tested
                     </h4>
                     <p>
                       Built upon the reliable go-ethereum protocol for a rock solid base used by thousands of people.
                     </p>
                  </div>
               </div>
               <div class="col-md-4 u-mt-30">
                  <div class="bg-white px-4 px-md-5 py-5 u-h-100p rounded box-shadow-v2">
                     <div class="u-w-90 u-h-90 u-flex-center bg-purple text-white rounded-circle m-auto">
                        <span class="icon icon-Notebook u-fs-42"></span>
                     </div>
                     <h4 class="u-fs-26 my-4">
                        Secure & Reliable
                     </h4>
                     <p>
                       With years of testing from the base platform we are certain of the security for the application.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="features" class="bg-yellow">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 m-auto text-center">
                  <h2 class="h1">
                     Features that Make Your Project Stand Out!
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row mt-5">
               <div class="col-lg-4">
                  <div class="tabs tabs-v1 text-center">
                     <h4 class="u-mb-15 d-inline-block d-lg-block">
                        <a href="#tab1" class="bg-white p-4 d-flex rounded box-shadow-v3 bg-primary text-white" data-toggle="tab" role="tab">
                        <span class="icon icon-Tools color-white u-fs-36 mr-lg-3"></span>
                        <span class="d-none d-lg-block">Easy to Customize</span>
                        </a>
                     </h4>
                     <h4 class="u-mb-15 d-inline-block d-lg-block">
                        <a href="#tab2" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
                        <span class="icon icon-MessageLeft color-primary u-fs-36 mr-lg-3"></span>
                        <span class="d-none d-lg-block">Unlimited Support</span>
                        </a>
                     </h4>
                     <h4 class="u-mb-15 d-inline-block d-lg-block">
                        <a href="#tab3" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
                        <span class="icon icon-Starship2 color-primary u-fs-36 mr-lg-3"></span>
                        <span class="d-none d-lg-block">Clean Code</span>
                        </a>
                     </h4>
                     <h4 class="u-mb-15 d-inline-block d-lg-block">
                        <a href="#tab4" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
                        <span class="icon icon-Magnet color-primary u-fs-36 mr-lg-3"></span>
                        <span class="d-none d-lg-block">UI Elements</span>
                        </a>
                     </h4>
                     <h4 class="u-mb-15 d-inline-block d-lg-block">
                        <a href="#tab5" class="bg-white p-4 d-flex rounded" data-toggle="tab" role="tab">
                        <span class="icon icon-Notebook color-primary u-fs-36 mr-lg-3"></span>
                        <span class="d-none d-lg-block">Fully Responsive</span>
                        </a>
                     </h4>
                  </div>
               </div>
               <div class="col-lg-7 ml-auto">
                  <div class="tab-content">
                     <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                     <%=image_tag("software/s-2.jpg",class:"box-shadow-v1", alt: "")%>
                        
                     </div>
                     <div class="tab-pane fade" id="tab2" role="tabpanel">
                     <%=image_tag("software/s-3.jpg",class:"box-shadow-v1", alt: "")%>
                     </div>
                     <div class="tab-pane fade" id="tab3" role="tabpanel">
                     <%=image_tag("software/s-4.jpg",class:"box-shadow-v1", alt: "")%>
                     </div>
                     <div class="tab-pane fade" id="tab4" role="tabpanel">
                     <%=image_tag("software/s-2.jpg",class:"box-shadow-v1", alt: "")%>
                     </div>
                     <div class="tab-pane fade" id="tab5" role="tabpanel">
                     <%=image_tag("software/s-3.jpg",class:"box-shadow-v1", alt: "")%>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="container">
            <div class="row">
               <div class="col-lg-5 m-auto text-center">
                  <h2 class="h1">
                     The Ultimate Solution for Your Web App
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-7 mr-auto mt-5">
                  <div class="tab-content">
                     <div class="tab-pane fade show active" id="tab1_1" role="tabpanel">
                     <%=image_tag("software/s-4.jpg",class:"box-shadow-v1", alt: "")%>
                       
                     </div>
                     <div class="tab-pane fade" id="tab1_2" role="tabpanel">
                     <%=image_tag("software/s-2.jpg",class:"box-shadow-v1", alt: "")%>
                     </div>
                     <div class="tab-pane fade" id="tab1_3" role="tabpanel">
                     <%=image_tag("software/s-3.jpg",class:"box-shadow-v1", alt: "")%>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 mt-5">
                  <div class="tabs">
                     <a href="#tab1_1" class="u-p-25 d-block rounded box-shadow-v1 active u-mb-15 bg-green text-white" data-toggle="tab" role="tab">
                        <h4 class="text-white">
                           Custom Field Support
                        </h4>
                        <p>
                           Nam liber tempor cum soluta nobis eleif end option congue.
                        </p>
                     </a>
                     <a href="#tab1_2" class="u-p-25 d-block rounded u-mb-15" data-toggle="tab" role="tab">
                        <h4>
                           Lifetime Updates
                        </h4>
                        <p>
                           Nam liber tempor cum soluta nobis eleif end option congue.
                        </p>
                     </a>
                     <a href="#tab1_3" class="u-p-25 d-block rounded u-mb-15" data-toggle="tab" role="tab">
                        <h4>
                           Easy to Customize
                        </h4>
                        <p>
                           Nam liber tempor cum soluta nobis eleif end option congue.
                        </p>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="bg-gray-v1">
         <div class="container">
            <div class="row">
               <div class="col-12 text-center">
                  <h2 class="h1">
                     Screenshots Overview
                  </h2>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-7 mx-auto mt-5">
                  <ul class="nav nav-tabs justify-content-center tabs-v2" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2_1" role="tab" aria-expanded="false">
                        Login
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab2_2" role="tab" aria-expanded="false">
                        Dashboard
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2_3" role="tab" aria-expanded="true">
                        Widgets
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2_4" role="tab" aria-expanded="false">
                        UI Elements
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="col-lg-10 mx-auto mt-5">
                  <div class="tab-content tab__slider">
                     <div class="tab-pane fade" id="tab2_1" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="p-0" data-init="carousel" data-slick='{
                           "slidesToShow":1,
                           "slidesToScroll": 1,
                           "arrows":true,
                           "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
                           "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>", 
                           "responsive": [
                           { 
                           "breakpoint":1024,
                           "settings":{
                           "arrows":false,
                           "dots":true,
                           "dotsClass":"slick-dots text-center mt-4"
                           }
                           }					
                           ]
                           }'>
                           <li>
                           <%=image_tag("software/login.png",class:"w-100", alt: "")%>
                              
                           </li>
                           <li>
                           <%=image_tag("software/dashboard.png",class:"w-100", alt: "")%>
                           </li>
                           <li>
                           <%=image_tag("software/widgets.png",class:"w-100", alt: "")%>
                           </li>
                        </ul>
                     </div>
                     <div class="tab-pane fade show active" id="tab2_2" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="p-0" data-init="carousel" data-slick='{
                           "slidesToShow":1,
                           "slidesToScroll": 1,
                           "arrows":true,
                           "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
                           "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>", 
                           "responsive": [
                           { 
                           "breakpoint":1024,
                           "settings":{
                           "arrows":false,
                           "dots":true,
                           "dotsClass":"slick-dots text-center mt-4"
                           }
                           }					
                           ]
                           }'>
                           <li>
                           <%=image_tag("software/dashboard.png",class:"w-100", alt: "")%>
                           </li>
                           <li>
                           <%=image_tag("software/anlytic.png",class:"w-100", alt: "")%>
                           </li>
                           <li>
                           <%=image_tag("software/widgets.png",class:"w-100", alt: "")%>
                           </li>
                        </ul>
                     </div>
                     <div class="tab-pane fade" id="tab2_3" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="p-0" data-init="carousel" data-slick='{
                           "slidesToShow":1,
                           "slidesToScroll": 1,
                           "arrows":true,
                           "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
                           "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>", 
                           "responsive": [
                           { 
                           "breakpoint":1024,
                           "settings":{
                           "arrows":false,
                           "dots":true,
                           "dotsClass":"slick-dots text-center mt-4"
                           }
                           }					
                           ]
                           }'>
                           <li>
                           <%=image_tag("software/widgets.png",class:"w-100", alt: "")%>
                           </li>
                           <li>
                           <%=image_tag("software/login.png",class:"w-100", alt: "")%>
                           </li>
                           <li>
                           <%=image_tag("software/anlytic.png",class:"w-100", alt: "")%>
                           </li>
                        </ul>
                     </div>
                     <div class="tab-pane fade" id="tab2_4" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="p-0" data-init="carousel" data-slick='{
                           "slidesToShow":1,
                           "slidesToScroll": 1,
                           "arrows":true,
                           "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
                           "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>", 
                           "responsive": [
                           { 
                           "breakpoint":1024,
                           "settings":{
                           "arrows":false,
                           "dots":true,
                           "dotsClass":"slick-dots text-center mt-4"
                           }
                           }					
                           ]
                           }'>
                           <li>
                           <%=image_tag("software/ui-design.png",class:"w-100", alt: "")%>
                           </li>
                           <li>
                           <%=image_tag("software/dashboard.png",class:"w-100", alt: "")%>
                           </li>
                           <li>
                           <%=image_tag("software/anlytic.png",class:"w-100", alt: "")%>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="pb-0">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 m-auto text-center">
                  <h2 class="h1">
                     Everything You Need to <br> Manage Your Projects
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                  <p class="u-mt-60">
                     Nam liber tempor cum soluta nobis eleifend option congue is nihil imper is per tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper. Nam is tempor cum soluta nobis eleifend option congue is nihil imper.
                  </p>
                  <div class="row">
                     <div class="col-md-4 mt-5">
                        <h4 class="u-fs-48 u-fw-400 text-primary mb-0">160+</h4>
                        <p class="u-fs-20 u-ff-dosis">Countries</p>
                     </div>
                     <div class="col-md-4 mt-5">
                        <h4 class="u-fs-48 u-fw-400 text-primary mb-0">70k</h4>
                        <p class="u-fs-20 u-ff-dosis">Paid Users</p>
                     </div>
                     <div class="col-md-4 mt-5">
                        <h4 class="u-fs-48 u-fw-400 text-primary mb-0">98k</h4>
                        <p class="u-fs-20 u-ff-dosis">Active Install</p>
                     </div>
                  </div>
               </div>
               <div class="col-12 u-mt-80">
               <%=image_tag("software/s-6.png", alt: "")%>
                  
               </div>
            </div>
         </div>
      </section>
      <section id="reviews" class="bg-primary">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 m-auto text-center">
                  <h2 class="h1 text-white">
                     Ethergem team
                  </h2>
                  <div class="u-h-4 u-w-50 bg-white rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-12 u-mt-60 text-center">
                  <div data-init="carousel" data-slick='{
                     "slidesToShow":2,
                     "slidesToScroll": 1,
                     "arrows":true,
                     "prevArrow":"<div class=\"slick-prev box-shadow-v1\"><i class=\"fa fa-angle-left\"></i></div>",
                     "nextArrow":"<div class=\"slick-next box-shadow-v1\"><i class=\"fa fa-angle-right\"></i></div>",
                     "responsive": [
                     { 
                     "breakpoint":1024,
                     "settings":{
                     "slidesToShow": 2,
                     "arrows":false,
                     "dots":true,
                     "dotsClass":"slick-dots text-center mt-4 dots-white" 
                     }
                     },
                     { 
                     "breakpoint":600,
                     "settings":{
                     "slidesToShow": 1,
                     "arrows":false,
                     "dots":true,
                     "dotsClass":"slick-dots text-center mt-4 dots-white"
                     }
                     }						
                     ]
                     }' data-slick-margin="15">
                    
                        <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/Rid.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Riddlez
                        </h4>
                        <p class="text-muted">
                           Core developer
                        </p>
                        <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                     </div>
                     <div class="p-5 rounded bg-white">
                     <img alt="" src="/assets/person/Jal3.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Jal3inc
                        </h4>
                        <p class="text-muted">
                           Core developer
                        </p>
                        <p>
                           Crypto Enthusiast, Blockchain Developer, Making tomorrow better by coding today.
                        </p>
                     </div>
                     <div class="p-5 rounded bg-white">
                     <img alt="" src="/assets/person/Oso.jpeg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Osoese
                        </h4>
                        <p class="text-muted">
                           Core developer
                        </p>
                        <p>
                           Software Developer, Blockchain Engineer, Crypto Enthusiast, Having fun :)
                        </p>
                        </div>
                        <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/Tb.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Tbates
                        </h4>
                        <p class="text-muted">
                           Admin
                        </p>
                         <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                     </div>
                       <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/IaM.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           IaMaBeAsT
                        </h4>
                        <p class="text-muted">
                           Admin
                        </p>
                         <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                       </div>
                        <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/Un.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Untug
                        </h4>
                        <p class="text-muted">
                           Admin
                        </p>
                         <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                       </div>
                        <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/Mathias.png" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Mathias7799
                        </h4>
                        <p class="text-muted">
                           I'm a cat.
                        </p>
                         <p>
                           Cryptocurrency Miner, Mining Pool Owner, Community Manager, Getting mad egem!
                        </p>
                       </div>
                        <div class="p-5 rounded bg-white">
                       <img alt="" src="/assets/person/Jal3.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Catsper
                        </h4>
                        <p class="text-muted">
                           Community developer
                        </p>
                         <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                       </div>
                       <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/Gali.png" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Galimba
                        </h4>
                        <p class="text-muted">
                           Community developer
                        </p>
                         <p>
                           Researcher, security analyst, crypto developer and open source advocate.
                        </p>
                       </div>
                       <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/Live.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Livetoski
                        </h4>
                        <p class="text-muted">
                           Community developer and QA
                        </p>
                         <p>
                           Eric Martin, Community Developer and QA, Discord: livetoski78#1363
                        </p>
                       </div>
                       <div class="p-5 rounded bg-white">
                        <img alt="" src="/assets/person/Jal3.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           MakeMoneyOz
                        </h4>
                        <p class="text-muted">
                           Community developer (Former core developer)
                        </p>
                         <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                       </div>
                       <div class="p-5 rounded bg-white">
                       <img alt="" src="/assets/person/Stan.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           Stanec
                        </h4>
                        <p class="text-muted">
                           Community developer
                        </p>
                         <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                       </div>
                       <div class="p-5 rounded bg-white">
                       <img alt="" src="/assets/person/Jal3.jpg" class="rounded mx-auto d-block mb-4" style="width:90px;height:90px;padding:0px;">
                        <h4>
                           DarthNoodle
                        </h4>
                        <p class="text-muted">
                           Community developer
                        </p>
                         <p>
                           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                        </p>
                       </div>


                     </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
     </section>
      <section class="u-py-40">
         <div class="container">
            <div class="row">
               <div class="col-12 d-md-flex justify-content-between text-center">
                  <div class="p-3">
                  <%=image_tag("", alt: "")%>
                  </div>
                  <div class="p-3">
                  <%=image_tag("", alt: "")%>
                  </div>
                  <div class="p-3">
                  <img alt="" src="/assets/partner/BTFD-e628c5ff50c23e60926310cd3f1b7dfe1ba0a969de616e86058c2e6b4f4891d8.png" style="width:180px;height:40px;padding:0px;">
                  </div>
                  <div class="p-3">
                  <%=image_tag("", alt: "")%>
                  </div>
                  <div class="p-3">
                  <%=image_tag("", alt: "")%>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="faq" class="bg-gray-v1">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 m-auto text-center">
                  <h2 class="h1">
                     Frequently Asked Questions
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
               </div>
            </div>
            <div class="row">
               <div class="col-12 mt-4">
                  <div id="accordion" role="tablist" class="bg-white box-shadow-v3">
                     <div class="accordion__faq">
                        <a class="accordion__title p-4" data-toggle="collapse" href="#acc1">
                        <i class="fa fa-angle-down mr-3"></i>
                        What is Egem?
                        </a>
                        <div id="acc1" class="collapse show" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                           </div>
                        </div>
                     </div>
                     <div class="accordion__faq">
                        <a class="accordion__title p-4"data-toggle="collapse" href="#acc2">
                        <i class="fa fa-angle-down mr-3"></i>
                        Why use Egem for you're business?
                        </a>
                        <div id="acc2" class="collapse" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                           </div>
                        </div>
                     </div>
                     <div class="accordion__faq">
                        <a class="accordion__title p-4"data-toggle="collapse" href="#acc3">
                        <i class="fa fa-angle-down mr-3"></i>
                        What is the Egem Integrated Subchain?
                        </a>
                        <div id="acc3" class="collapse" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                           </div>
                        </div>
                     </div>
                     <div class="accordion__faq">
                        <a class="accordion__title p-4"data-toggle="collapse" href="#acc4">
                        <i class="fa fa-angle-down mr-3"></i>
                        What is the discord masternodes?
                        </a>
                        <div id="acc4" class="collapse" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                           </div>
                        </div>
                     </div>
                     <div class="accordion__faq">
                        <a class="accordion__title p-4"data-toggle="collapse" href="#acc5">
                        <i class="fa fa-angle-down mr-3"></i>
                        Where to buy Egem?
                        </a>
                        <div id="acc5" class="collapse" role="tabpanel" data-parent="#accordion">
                           <div class="accordion__text">
                              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim wisi enim ad placerat facer. Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section>
         <div class="container">
            <div class="row">
               <div class="col-lg-6 mx-auto text-center">
                  <h2 class="h1">
                     Contact Us 
                  </h2>
                  <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
                  <p>
                     You can contact us with anything related to Egem. We'll get in touch with you as soon as possible.
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-7 text-center mt-5">
                  <form action="#" method="POST">
                     <div class="row">
                        <div class="col-md-6">
                           <input type="text" class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Name" required>
                        </div>
                        <div class="col-md-6">
                           <input type="text" class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Your email" required>
                        </div>
                     </div>
                     <textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6" placeholder="You're text..." required></textarea>
                     <button class="btn btn-yellow u-w-170" type="submit">Submit</button>
                  </form>
               </div>
               <div class="col-lg-4 ml-auto col-md-5 mt-5">
                  <h4 class="u-fs-28 mb-4">Contact Information</h4>
                  <p>
                     Forum:
                     <a href="https://forum.egem.io">
                     <strong>Egem forum</strong>
                     <a/>
                    </p>
                    <p>
                     Email:
                     <a href="mailto:info@egem.io">
                     <strong>info@egem.io</strong>
                     </a>
                  </p>
               </div>
            </div>
         </div>
      </section>
  
